<% include partials/header.ejs %>

<h1>Another ColorGame</h1>

<div class="slidein">

        <h2 class="first">Get</h2> 
        <h2 class="second">Set</h2>
        <h2 class="third">Color</h2>

</div>

<br><br>

<button class="start" onclick="start()">Start The Clock</button>

<h1 class="reset">Press F5 To Reset</h1>

<h3>Time left: </h3>
<!-- Display the countdown timer in an element -->
<li id="counter"></li>

<br><br>

<button class="one">Green</button>
<button class="two">Blue</button>
<button class="three">Red</button>

<h4 id="finished"></h4>


<% include partials/footer.ejs %>